/* Contenedor COMERCIALIZACIÓN*/
/* Estilo para el contenedor reducido */
.texto-comercializacion{
  padding-top: 25px;
  font-family: var(--fuente); /* Fuente personalizada */
  color: white; /* Color de texto blanco */
}
.containerComercializacion{
  margin: 0 auto; /* Centra el contenedor */
  width: 700px !important;  /* Ancho del contenedor */
  border-radius: 15px; /* Bordes redondeados */
  padding-bottom: 25px; /* Espaciado inferior */
  background-color: var(--color); /* Color de fondo */
  .bordered-text{
    font-family: var(--fuente);
  }
  .card-text{
    font-family: var(--fuente);
  }
}
  
  /* Estilo para el texto dentro del contenedor */
.bordered {
  border-radius: 5px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
}
  
/* Ajustes en los títulos */
.titulo {
  margin-bottom: 20px; /* Espaciado inferior para los títulos */
}
  
/* Estilo para los párrafos */
.card-text {
  margin-bottom: 15px; /* Espaciado inferior para los párrafos */
  line-height: 1.6; /* Espaciado entre líneas */
  text-align: center; /* Centra el texto */
}
  
  /* Ajustes para imágenes en la sección de agradecimiento */
  .term_img {
    display: inline-block; /* Permite que la imagen se alinee con el texto */
    vertical-align: middle; /* Alinea verticalmente la imagen */
  }
/* Contenedor COMERCIALIZACIÓN*/