/*CONTACTO*/
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }

.texto-Formulario{
  font-family: var(--fuente);
  color: white !important;
}


  
  .form-container {
    max-width: 400px;
    
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;

  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que padding y borde se incluyan en el ancho total */
  }
  
  
  
  .form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2f0c2c !important;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #2f0c2c !important;
  }
  
  @media (max-width: 600px) {
    .form-container {
        padding: 10px;
    }
  
    .form-container h2 {
        font-size: 1.2em;
    }
  }
  .info-nosotros {
    text-align: center;
    padding: 20px;
  
    .titulo {
      font-family: var(--fuente);
      color: white;
      margin-bottom: 15px;
    }
  
    .descripcion h5 {
      font-family: var(--fuente);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px; /* Espacio entre icono y texto */
      margin-bottom: 10px;
    }
  
    .icono-contacto {
      width: 24px; /* Tamaño pequeño tipo icono */
      height: 24px;
    }
    .ubicacion {
      text-align: center; /* Centra TODO lo que esté adentro */
      margin-top: 15px; 
    }
    
    .ubicacion h5 {
      font-family: var(--fuente);
      color: white;
      margin-bottom: 10px; /* Espacio entre texto e imagen */
    }
    
    .icono-ubicacion {
      max-width: 350px;
      max-height: 350px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  /*CONTACTO*/