/*Cuerpo*/
:root{
  --color-fondo: #170616;
  --color: #5e1759;
  --fuente: 'Cormorant Garamond';
}
body {
  margin: 0; /* Elimina márgenes del body */
  padding: 0; /* Elimina padding del body */
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
  background-color: var(--color-fondo) !important;
}

.container-texto-bienvenida {
  width: 100%;
  max-width: 1000px; /* ahora es máximo 1000px y hace que sea responsive*/
  margin: 20px auto 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container-texto-bienvenida h2 {
  font-size: 2.5rem; /* tamaño de fuente responsive */
  color: white;
  font-family: var(--fuente);
  text-align: center;
}

.texto-bienvenida {
  color: white;
  background-color: var(--color-bienvenida);
  width: 100%;
  padding: 20px;
  font-family: var(--fuente);
  font-size: 1.2rem;
  line-height: 1.6;
  border-radius: 8px; /* opcional: para hacerlo más estético */
}


  @media (max-width: 768px) {
    .container-texto-bienvenida {
      padding: 15px;
    }
  }


